.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.venv
Top-Posts-All.csv
Top-Posts-Month.csv
Top-Posts-Year.csv
frontiers-titles.csv
nature-titles.csv
top_all.csv
top_month.csv
top_year.csv
reddit_overview/reddit_overview.html
by_flair_all.csv
by_flair_year.csv
by_flair_month.csv
tidy_all.csv
tidy_year.csv
tidy_month.csv
tidy_nature.csv
tidy_frontiers.csv