.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.venv
Top-Posts-All.csv
Top-Posts-Month.csv
Top-Posts-Year.csv
frontiers-titles.csv
nature-titles.csv
top_all.csv
top_month.csv
top_year.csv
all_clean.csv
year_clean.csv
month_clean.csv
text_all_clean.csv
text_year_clean.csv
text_month_clean.csv
frontiers_clean.csv
reddit_report.html
